body {
  background: #000000 !important;
}
.nav-header{
  background: #000000 !important;
}
.nav-bounds.nav-bounds-with-cp .nav-menu-cp.nav-menu-cp-logged .nav-menu-cp-send{
  color: #FFFFFF !important;
}

.nav-bounds.nav-bounds-with-cp .nav-menu-cp .nav-menu-link-cp {
  color: #FFFFFF !important;
}


.filters_section .total_products{
  color: #FFFFFF !important;
}

.filters_header_container.full-carousel .filters_carousel .carousel_ul .carousel_item{
  background-color: #000000 !important;
}

.nav-header .nav-cart {
    color: #fff;
    background: #000;
}

a.nav-header-cp-anchor, a.nav-header-cp-anchor:active, a.nav-header-cp-anchor:hover, a.nav-header-cp-anchor:link, a.nav-header-cp-anchor:visited {
    color: #f1ebeb;
    text-decoration: none;
    display: block;
    height: 39px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
    padding: 1px 30px 0 28px;
    line-height: 38px;
    font-size: 13px;
    -webkit-box-shadow: 0 1px 0 0 rgba(0,0,0,.1);
    box-shadow: 0 1px 0 0 rgba(0,0,0,.1);
    background: #000; 
}


.promotion-item__container .promotion-item__description {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: -webkit-calc(100% - 144px);
    height: calc(100% - 144px);
    padding: 0 12px 8px;
    text-align: left;
    background: black;
}


.promotion-item__container .promotion-item__price {
    background-color: rgba(0,0,0,.8);
    font-size: 20px;
    font-weight: 400;
    line-height: 1;
    color: white;
}

.promotion-item__container .promotion-item__title {
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    background-color: rgba(0,0,0,.8);
    display: -webkit-box;
    font-size: 14px;
    letter-spacing: .2px;
    line-height: 1.17;
    margin: 6px 0;
    overflow: hidden;
    text-align: left;
    color: white;
}

.filters_carousel .carousel_ul {
    cursor: none;
    margin: 0 auto;
    max-width: 100%;
    position: relative;
    text-align: center;
    color: black;
    background-color: black;
}

.filters_carousel .carousel-container .next-button, .filters_carousel .carousel-container .prev-button {
    background-color: #362d2d;
    border: 0;
    border-radius: 50%;
    box-shadow: none;
    display: block;
    font: inherit;
    height: 48px;
    padding: 0 !important;
    top: 33%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 48px;
}
